<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Starter Template - Materialize</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <style>
.demo-layout-transparent {
  background: 'home/naresh/Desktop/yuna.jpg'center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: blue;
}
</style>
<!-- Modal Trigger -->

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
				<li class="tab col s3"><a class="#test1" href="#test1">Basic Search</a></li>
      </ul>
    </div>



		<div id="test1">
					<div class="row">
						<div class="col s1">&nbsp</div>
						<div class="col s10">
							<form action="/work/basic_search/" method="POST">
								{% csrf_token %}

							<div class="input-field col s7">


							 <input name="query" id="query" value="{{input}}" type="text" class="validate">
							 <label for="query">Search</label>
						 	</div>
							<div class="input-field col s3">
							 <button class="btn waves-effect waves-light" id="f2" type="submit" name="action">Submit
			 					<i class="material-icons right">send</i>
			 				</button>
							</div>
						</form>
						</div>
					</div>

			 <div class="row">
				 <div class="col s1">&nbsp</div>
 				<div class="col s10">
					{% if query %}
						{% if empty %}
						<H5>No Results Found!</H5>
						{% else %}
			 			<table class="striped centered">
			         <thead >
			           <tr>
			               <th data-field="id">File Id</th>
			 							<th data-field="id">File Name</th>
			               <th data-field="name">Keyword</th>
			              <!-- <th data-field="price">Status</th>-->
			           </tr>
			         </thead>

			         <tbody>
								<form action="#">
								{% for words in results %}
								<tr id="{{words.file_id}}">
									<td id="{{words.file_id}}">{{words.file_id}}</td>
									<td id="{{words.file_name}}"><a href="/static/files/{{words.file_name}}">{{words.file_name}}</a></td>
									<td id="{{words.keyword}}">{{words.keyword}}</td>
									<!--<td>
											<a id="{{keywords.file_id}}{{keywords.keyword}}" onclick="accept(this.parentNode.parentNode);" class="btn-floating btn-medium waves-effect waves-light red"><i id="{{keywords.file_id}}{{keywords.keyword}}" class="material-icons">done</i></a>
												&nbsp &nbsp
											<a id="{{keywords.file_id}}{{keywords.keyword}}" onclick="reject(this.parentNode.parentNode);" class="btn-floating btn-medium waves-effect waves-light red"><i id="{{keywords.file_id}}{{keywords.keyword}}" class="material-icons">clear</i></a>
									</td>-->
								</tr>
								{% endfor %}
							</form>
			         </tbody>
			       </table>
						 {% endif %}
						 {% endif %}
 				 </div>
 			</div>
		</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
</body>
</html>
